.zynk-form button:hover,
.zynk-form input[type='button']:hover {
  font-weight: 700;
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

@keyframes flash-animation {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
